<IfModule mod_rewrite.c>
RewriteEngine On
Options +FollowSymlinks
RewriteBase /

RewriteCond %{REQUEST_URI} !^\/public/(.*).(.*)
RewriteCond %{REQUEST_URI} !^\/filemanager/(.*).(.*)
RewriteCond %{REQUEST_URI} !^\/App/Modules/(.*)/public/(.*).(.*)
RewriteRule ^.*$ index.php [NC,L]
</IfModule>